<div class="uk-alert
            uk-container-center
            uk-width-large-7-10
            uk-width-medium-8-10
            uk-width-small-9-10
            dm-alert
            {{type}}">

<div class="dm-alert-icon
            uk-width-medium-1-4
            uk-width-small-1-1
            uk-text-center">
    <i class="uk-icon uk-icon-large uk-icon-exclamation-triangle"
       ng-show="type === 'uk-alert-danger'"></i>
    <i class="uk-icon uk-icon-large uk-icon-info-circle"
       ng-show="type === 'uk-alert-warning'"></i>
</div>
<div class="dm-alert-content
        uk-width-medium-3-4
        uk-width-small-1-1"
     ng-transclude>
</div>

</div>

