<div id="dm-disclaimer-directive" ng-show="displayDisclaimer">
    <div class="dialog
                uk-width-large-4-10
                uk-width-medium-7-10
                uk-width-small-1-1">
        <div class="uk-width-1-1 uk-text-center icon">
            <i class="uk-icon uk-icon-large uk-icon-exclamation-triangle"></i>
        </div>
        <div class="uk-width-1-1 uk-text-center">
            <p>The following post may contain material that can easily offend holier
                than know-it-all beings that are anything but.
            </p>
            <p>The opinion written does not represent the
                collective opinion of the site</p>
        </div>
        <div class="uk-width-1-1 uk-text-center control">
            <button class="uk-button
                           uk-button-large"
                    ng-click="continue()">
                Continue
                <span ng-show="disableButtons">
                    in ... {{timer}}
                </span>
            </button>
        </div>
    </div>
</div>