<div class="uk-width-medium-1-2
            uk-width-small-1-1
            dm-item-large
            uk-margin-bottom">
    <a style="background-image: url('{{item.feature}}')"
       ng-href="{{item.permalink}}"
       target="_blank">
        <div class="uk-flex">
            <div class="uk-margin-top category">
                <p><span>{{item.category.cat_name}}</span></p>
            </div>
            <div class="uk-margin-bottom title">
                <h3 ng-bind-html="item.title"></h3>
                <small>{{item.author}} | {{item.date}}</small>
            </div>
        </div>
    </a>
</div>