<div class="dm-item-trending-placeholder
            uk-width-large-1-3
            uk-width-medium-1-2
            uk-width-small-1-1
            uk-hidden-small">
    <div class="uk-panel uk-panel-box
                dm-trending-events"
         ng-show="type == 'events'">
        <div><i class="uk-icon uk-icon-ticket"></i></div>
    </div>
    <div class="uk-panel
                uk-panel-box
                dm-trending-topics
                uk-margin-remove"
         ng-show="type == 'topics'">
        <div><i class="uk-icon uk-icon-bell"></i></div>
    </div>
</div>