<div class="dm-item-trending
            uk-width-large-1-3
            uk-width-medium-1-2
            uk-width-small-1-1
            uk-margin-bottom">
    <a class="image-container"
       ng-href="{{item.permalink}}"
       target="_blank">
        <h2 ng-bind-html="item.title"
            clamp-this-text
            line="2"></h2>
        <div class="uk-width-1-1 image"
             style="background-image:url('{{item.feature}}')"   >

        </div>
    </a>
    <div class="item uk-margin-top">
        <ul class="uk-list uk-list-line">
            <li ng-repeat="link in item.topics">
                <a ng-href="{{link.permalink}}"
                   ng-bind-html="link.title"
                   target="_blank">
                </a>
            </li>
        </ul>
    </div>
</div>