<div class="uk-width-large-1-3
            uk-width-medium-1-2
            uk-width-small-1-1
            uk-margin-bottom
            dm-item-basic">
    <a style="background-image: url('{{item.feature}}')"
       ng-href="{{item.permalink}}">
        <div class="uk-flex">
            <div class="uk-margin-top category">
                <p ng-show="item.category.cat_name.length > 0">
                    <span>{{item.category.cat_name}}</span>
                </p>
            </div>
            <div class="uk-margin-bottom title">
                <h3 ng-bind-html="item.title"></h3>
                <small>by {{item.author}} &bull; {{item.date}}</small>
            </div>
        </div>
    </a>
</div>