<div class="uk-width-medium-1-3
            uk-width-small-1-2
            uk-margin-bottom
            dm-item-video">
    <a style="background-image: url('{{item.feature}}')"
       ng-href="{{item.permalink}}"
       target="_blank">
        <div class="uk-flex uk-flex-middle">
            <div>
                <i class="uk-icon uk-icon-large uk-icon-youtube-play"></i>
            </div>
        </div>
        <div class="uk-flex video-title">
            <div class="uk-margin-bottom">
                <h3 ng-bind-html="item.title"></h3>
            </div>
        </div>
    </a>
</div>