#dm6-archive-events
{
  display:flex;
  flex-direction:column;
  width:100%;
  #dm6-event-controls
  {
    input[type="text"]
    {
      width:100%;
      font-size:2em;
      background-color:transparent;
      padding:0em;
      margin:0em;

      border: none;
      border-bottom: solid 2px #c9c9c9;
      transition: border 0.3s;

      color:#5e5e5e;
      text-align: center;
    }
    input[type="text"]:focus
    {
      border-bottom: solid 2px #969696;
    }

    ::-webkit-input-placeholder,
    {
      font-style: italic;
    }
  }
}