html,body
{
    margin:0;
    padding:0;
    height:100%;
    background-color:#F4F6F8;
    flex-wrap: wrap;
    
    .videoWrapper
    {
        position:relative;
        padding-bottom:56.25%; //16:9
        padding-top:25px;
        height:0;

        iframe
        {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:99.9%;
        }
    }

    #dm-header-container
    {
      .dm6-main-header
      {
        background:#AB1F2B;
      }
      #dm6-main-header
      {
        height:5em;
        background: #ab1f2b;
        .uk-container
        {
          height:inherit;
          display:flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          .brand > a
          {
            margin-right:3em;
            img
            {
              height:40px;
            }
          }
          .menus
          {
            .uk-dropdown
            {
              background: none repeat scroll 0% 0% #AB1F2B;
              .uk-nav-dropdown a:hover
              {
                color: black;
                background: #ab1f2b;
              }
              .uk-icon
              {
                color:white;
              }
            }
          }
          .search
          {
            margin-left: auto;
            a
            {
              color:#000;
            }
          }
        }
        .uk-modal
        {
          z-index: 10001;
        }
        z-index:10000;
      }

      #dm6-main-header-mobile
      {
        nav
        {
          background:#AB1F2B;
          .uk-navbar-nav
          {
            li a
            {
              color:white;
              border-right:1px solid #424242;
            }
            li a:hover
            {
              background:lighten(#AB1F2B,5%);
            }
          }
          .uk-navbar-flip .uk-navbar-brand img
          {
            height:1.5em;
          }
        }
        z-index:10000;
      }

      #dm6-main-body
      {
        padding:0.5em 0.5em 22em 0.5em;
        flex-grow: 1;
        a[target=_blank]::after
        {
          font-family: FontAwesome;
          content: " \f08e";
        }
      }
    }
}

#dm6-main-menu
{
    ul li a
    {
        color:white;
        font-weight:900;
        font-family: 'Roboto', sans-serif;
        letter-spacing:0.05em;
        text-transform:uppercase;
        
    }
    input
    {
        border:1px solid white;
        background-color:#AB1F2B;
        color:white;
    }
    input:focus
    {
        border:1px solid black;
    }
    i
    {
        color:black;
    }
}

#dm6-main-footer
{
    align-self: flex-end;
    .uk-grid
    {
        height:inherit;
        
        #dm6-footer-red
        {
            height:inherit;
            background-color:#AB1F2B;
            padding:0.5em;
            ul
            {
                li
                {
                    list-style-type: none;
                    a
                    {
                        color:white;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                    }
                    a:hover
                    {
                        text-decoration:none;
                        color:black;
                        font-weight: 700;
                    }
                    line-height: 1.5em;
                }
            }
        }
        #dm6-footer-black
        {
            height:inherit;
            background-color:black;
            padding:0.5em;
            ul
            {
                li:first-child
                {
                    margin-bottom:0.5em;
                }
                li
                {
                    list-style-type:none;
                    h2
                    {
                        color:white;
                    }
                    a
                    {
                        font-family: 'Roboto', sans-serif;
                        color:white;
                        font-weight: 300;
                    }
                    a:hover
                    {
                        font-weight: 700;
                        color: #AB1F2B;
                        text-decoration:none;
                    }
                }
            }
            #dm6-copyright
            {
                color:white;
                font-family: 'Roboto', sans-serif;
                padding:1em;
                ul
                {
                    li
                    {
                        list-style-type:none;
                        padding:0.5em;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

#dm6-single-body,#dm6-review-body,#dm6-video-excerpt
{
    .aligncenter
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .alignleft
    {
        float:left;
        padding:0.5em;
    }
    
    .alignright
    {
        float:right;
        padding:0.5em;
    }

    embed, iframe, .tweet, .twitter-tweet, .twitter-tweet-rendered, #twitter-widget-0, .fb_iframe_widget, #___post_0
    {
        margin: 10px auto !important;
        display: block;
        text-align: center;
    }
    
    blockquote 
    {
        background: #ab1f2b url(../img/quote.svg) no-repeat;
        background-size: 100px 100px;
        color: white;
        min-height: 5em;
        border: 0;
        p
        {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            padding: .5em;
            font-size: 1em;
            line-height: 1.563em;
        }
        a
        {
                font-family: Roboto, sans-serif;
                text-decoration: underline;
        }
        a[target=_blank]::after
        {
        font-family: FontAwesome;
        content: " \f08e";
        }
    }
    
    .dm6-authors 
    {
        ul
        {
            li
            {
                span
                {

                    .uk-icon-twitter
                    {
                        color:#55ACEE;
                    }
                    .uk-icon-envelope
                    {
                        color:#000;
                    }
                    .uk-link-muted
                    {
                        text-transform:capitalize;
                    }
                    a
                    {
                        color:#AB1F2B;
                    }
                    a:hover
                    {
                        color:#000;
                    }
                }
            }
        }
    }
    
    .share-button 
    {
        label
        {
            background-color:#ab1f2b;
            color:#fff;
            border-radius:0em;
            span
            {
                    font-family:Roboto, sans-serif;
            }
        }
        .social 
        {
            ul li
            {
                font-weight:200;
            }
            margin-left:-211px;
        }
    }
    
    .wp-caption
    {
        background-color:#f3f3f3;
        p
        {
            text-align:center;
        }
    }
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
p,a {
    font-family: 'Roboto Slab', serif;
}
ul, li {
    font-family: 'Roboto', sans-serif;
}

.sponsor-tile
{
    background-color:#F44336;
}

.uk-modal
{
    z-index:10001;
}

.ad-flat
{
    height:10em;
}

ins
{
    background: none !important;
}

/*
  dm alerts
*/
.uk-alert-success
{
  background-color:#4CAF50;
  color:#fff;
}

.uk-alert-warning
{
  background-color:#FFC107;
  color:#000;
}

.uk-alert-danger
{
  background-color:#F44336;
  color:#fff;
}