.dm-item-basic
{
  a
  {
    display:block;
    width:100%;
    background-size:cover;
    background-position: center;
    position:relative;
    text-decoration:none;
    height:19em;
    .uk-flex
    {
      height:inherit;
      width:inherit;
      background-image: linear-gradient(to top, rgba(66, 66, 66,0.3) 15%,rgba(191, 191, 191,0.1) 100%);
      background-color:rgba(0,0,0,0.1);
      position:absolute;
      top:0em;
      left:0em;
      flex-wrap: wrap;
      flex-direction: row;
      h3,small
      {
        color:#fff;
        margin:0em;
      }
      .category
      {
        width:100%;
        align-self:flex-start;
        padding:0em 0.5em;
        p
        {
          text-align:right;
          color:#fff;
          font-weight:700;
          span
          {
            background-color:#3F51B5;
            padding:0.2em 0.5em;
            font-family:"Roboto", sans-serif !important;
            text-transform:uppercase;
          }
        }
      }
      .title
      {
        width:100%;
        align-self: flex-end;
        padding:0em 0.5em;
      }
    }
  }
}

.dm-item-video
{
  a
  {
    display:block;
    width:100%;
    background-size:cover;
    background-position: center;
    position:relative;
    text-decoration:none;
    height:12em;
    color:#DF2826;
    .uk-flex
    {
      height:inherit;
      width:inherit;
      background-color:rgba(0,0,0,0.3);
      position:absolute;
      top:0;
      left:0;
      justify-content: center;
      i
      {
        font-size:5em;
      }
    }
    .video-title
    {
      div
      {
        align-self: flex-end;
        padding:0.5em;
        h3
        {
          color:#fff;
          margin:0em;
        }
      }
    }
  }
}

.dm-item-large
{
  a
  {
    display:block;
    width:100%;
    background-size:cover;
    background-position: center;
    position:relative;
    text-decoration:none;
    height:17em;
    .uk-flex
    {
      height:inherit;
      width:inherit;
      background-image: linear-gradient(to top, rgba(66, 66, 66,0.3) 15%,rgba(191, 191, 191,0.1) 100%);
      background-color:rgba(0,0,0,0.1);
      position:absolute;
      top:0em;
      left:0em;
      flex-direction: row;
      flex-wrap: wrap;
      h3,small
      {
        color:#fff;
        margin:0em;
      }
      .category
      {
        width:inherit;
        align-self:flex-start;
        padding:0em 0.5em;
        p
        {
          text-align:right;
          color:#fff;
          font-weight: 700;
          span
          {
            background-color:#3F51B5;
            padding:0.2em 0.5em;
            font-family:"Roboto", sans-serif !important;
            text-transform:uppercase;
          }
        }
      }
      .title
      {
        align-self: flex-end;
        padding:0em 0.5em;
      }
    }
  }
}

@keyframes fade-disclaimer {
  from{
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}

#dm-disclaimer-directive
{
  position:fixed;
  top:0em;
  left:0em;
  height:100%;
  z-index:10000;
  background-color: #F44336;
  width:100%;
  animation-name: fade-disclaimer;
  animation-duration: 1s;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  .dialog
  {
    .icon
    {
      font-size:5em;
    }
    .control
    {
      button
      {
        background-color:transparent;
        border:1px solid #eee;
        color:#fff;
      }
      button:hover
      {
        background-color: #fff;
        color:#444;
        border:none;
      }
    }
  }
}

.dm-alert
{
  display:flex;
  flex-wrap: wrap;
  .dm-alert-icon
  {
    min-height:2em;
    font-size:3em;
  }
  .dm-alert-content
  {
    a
    {
      font-weight:700;
      color:#000;
    }
  }
}

.dm-item-trending
{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  a.image-container
  {
    width:100%;
    display:block;
    h2
    {
      margin-bottom:0.3em;
      height:2.5em;
    }
    .image
    {
      height:8em;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  a.image-container:hover
  {
    text-decoration:none;
  }
  .item
  {
    width:100%;
  }
}

.dm-item-trending-placeholder
{
  height:25em;
  .uk-panel
  {
    height:inherit;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width:90%;
    div > i
    {
      color:#fff;
      font-size:15em;
    }
  }
  .dm-trending-events
  {
    background-color: #673AB7 !important;
  }
  .dm-trending-topics
  {
    background-color: #FF9800 !important;
  }
}