#dm6-cta-modal
{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    background-color:rgba(0,0,0,0.4);
    z-index:10001;
    
    #cta-modal-container
    {
        position:fixed;
        top:10em;
        #cta-modal
        {
            padding:0.5em;
            max-width:50em;
            min-width:20em;
        }
    }
}

#dm6-main-body
{
    #dm6-article-container
    {
        #dm6-headline-article
        {
            .header-image
            {
                height:35em;         
            }
        }
        
        .dm6-review-article
        {
            .header-image
            {
                height:20em;
            }
        }
        
        .dm6-loop-normal
        {
            .header-image
            {
                height:20em;
            }
        }
        
        .header-image
        {
            background-position:center;
            background-size:cover;
        }
        
        .article-container
        {
            height:inherit;
            position:relative;
            background-image: linear-gradient(to top, rgba(66, 66, 66,0.3) 15%,
                                              rgba(191, 191, 191,0.1) 100%);

            background-color:rgba(0,0,0,0.1);
        }
        
        .dm6-category
        {
            background:#AB1F2B;
            font-family: 'Roboto', sans-serif;
            color:white;
            position:absolute;
            top:1em;
            right:1em;
            padding:0.5em;
            text-transform:uppercase;
        }

        .dm6-title
        {
            padding:1em;
            h1,p
            {
                color:white;
                font-weight:700;
                font-family: 'Roboto', sans-serif;
            }
            h1:hover
            {
                text-decoration:underline;
            }
        }
        
        .dm6-title2
        {
            padding:1em;
            h2,p
            {
                color:white;
                font-weight:700;
                font-family: 'Roboto', sans-serif;
            }
            h1:hover
            {
                text-decoration:underline;
            }
        }
      #dm-trending-events
      {
        .uk-panel
        {
          background-color:#EEEEEE;
          h1
          {
            font-size:2.5em;
            text-transform: uppercase;
            color:#AB1F2B;
          }
        }
      }
      #dm-trending-topics
      {
        .uk-panel
        {
          h1
          {
            font-size:2.5em;
            text-transform: uppercase;
          }
        }
      }
    }
}

@media screen and (min-width:768px) and (max-width:960px)
{
    #dm6-main-body
    {
        #dm6-article-container
        {

            .dm6-review-article
            {
                .header-image
                {
                    height:30em;
                }
            }
        }
    }
}

@media screen and (max-width:468px)
{
    #dm6-main-body
    {
        #dm6-article-container
        {
            #dm6-headline-article
            {
                .header-image
                {
                    height:20em;         
                }
            }
            
            .dm6-review-article
            {
                .header-image
                {
                    height:20em;
                }
            }
        }
    }
}