/*
  Mixins
*/
.link-article-box()
{
  display:block;
  width:100%;
  background-size:cover;
  background-position: center;
  position:relative;
  text-decoration:none;
}

.link-flex-title()
{
  height:inherit;
  width:inherit;
  background-image: linear-gradient(to top, rgba(66, 66, 66,0.3) 15%,rgba(191, 191, 191,0.1) 100%);
  background-color:rgba(0,0,0,0.1);
  align-content: flex-end;
  position:absolute;
  top:0em;
  left:0em;
  h3,small
  {
    color:#fff;
    margin:0em;
  }
  .uk-margin-bottom
  {
    align-self: flex-end;
    padding:0em 0.5em;
  }
}

/*
  Code Starts Here
*/

.padding
{
  padding:0em 0.2em;
}

#dm6-landing-page-container
{
  flex-wrap: wrap;
}

#dm6-cover-section
{
  height: 25em;
  position:relative;
  .filter
  {
    width:inherit;
    height:inherit;
    background-image: linear-gradient(to top, rgba(66, 66, 66,0.3) 15%,rgba(191, 191, 191,0.1) 100%);
    background-color:rgba(0,0,0,0.1);
    position:absolute;
    top:0em;
    left:0em;
    z-index:5;
  }
  #dm6-cover-info
  {
    width:inherit;
    height:inherit;
    position:absolute;
    top:0em;
    left:0em;
    z-index:10;
    #poster > img
    {
      height:22em;
    }
    #info
    {
      #star-article
      {
        .important
        {
          a
          {
            height:10em;
            .link-article-box();
            .uk-flex
            {
              .link-flex-title();
            }
          }
        }
      }
      h1,h2,p
      {
        color:#fff;
      }
      h2
      {
        font-weight: 300;
      }
      span
      {
        padding:0.2em 0.5em;
      }
      span.black
      {
        background-color:#000;
      }
      span.red
      {
        background-color:#AB1F2B;
      }
    }
  }
  #dm6-landing-image
  {
    width:inherit;
    height:inherit;
    position:absolute;
    top:0em;
    left:0em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
  }
}

#dm-trailer-info
{
  .dm-info
  {
    .uk-block
    {
      background-color:#4A148C;
      .uk-container
      {
        dl > dt,dd
        {
          color:#fff;
          font-family: 'Roboto', sans-serif;
        }
        dl > dt
        {
          margin:0.5em 0em;
          font-size:1.5em;
        }
        dl > dd
        {
          font-family: 'Roboto Slab', serif;
        }
      }
    }
  }
}

#dm6-report-photo
{
  #dm-post-review
  {
      height:15em;
      background-size: cover;
      background-position: center;
      filter:brightness(90%);
      .title
      {
        padding:0em 1em;
        align-self: flex-end;
        h2
        {
          color:#fff;
          font-size:2em;
          font-weight:300;
        }
      }
  }
  .report-gist
  {
    padding:20px;
    background-color:#fff;
    .quote-left
    {
      align-self: flex-start;
      color:#AB1F2B;
    }
    .quote-right
    {
      align-self: flex-end;
      color:#AB1F2B;
    }
    .quote-text
    {
      flex-grow: 1;
      div > p
      {
        font-size:1.5em;
        font-style: italic;
      }
      div > small
      {
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 480px)
{

  #dm6-cover-section
  {
    height: 40em;
    #dm6-cover-info
    {
      left:auto;
      padding-left:1em;
      #info
      {
        margin-top:1em;
        h1,h2
        {
          text-align: center;
          line-height:1.5em;
        }
      }
    }
  }
}