/*
  Mixins
*/
.link-article-box()
{
  display:block;
  width:100%;
  background-size:cover;
  background-position: center;
  position:relative;
  text-decoration:none;
}

.link-flex-title()
{
  height:inherit;
  width:inherit;
  background-image: linear-gradient(to top, rgba(66, 66, 66,0.3) 15%,rgba(191, 191, 191,0.1) 100%);
  background-color:rgba(0,0,0,0.1);
  align-content: flex-end;
  position:absolute;
  top:0em;
  left:0em;
  h3,small
  {
    color:#fff;
    margin:0em;
  }
  .uk-margin-bottom
  {
    align-self: flex-end;
    padding:0em 0.5em;
  }
}

#dm6-cover-section
{
  height: 25em;
  position:relative;
  .filter
  {
    width:inherit;
    height:inherit;
    background-image: linear-gradient(to top, rgba(66, 66, 66,0.3) 15%,rgba(191, 191, 191,0.1) 100%);
    background-color:rgba(0,0,0,0.1);
    position:absolute;
    top:0em;
    left:0em;
    z-index:5;
  }
  #dm6-cover-info
  {
    width:inherit;
    height:inherit;
    position:absolute;
    top:0em;
    left:0em;
    z-index:10;
    .uk-width-1-1
    {
      h1
      {
        color:#fff;
        text-transform:uppercase;
        margin:0em;
        span
        {
          background-color:#000;
          padding:0em 0.5em
        }
      }
      p
      {
        color:#fff;
        font-size:1.5em;
        margin:0em;
        span
        {
          background-color:#9C27B0;
          padding:0em 0.5em;
        }
      }
    }
  }
  #dm6-landing-image
  {
    width:inherit;
    height:inherit;
    position:absolute;
    top:0em;
    left:0em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
  }
}

#dm-related-article
{
  .dm-related-article
  {
    a
    {
      .link-article-box();
      height:19em;
      .uk-flex
      {
        .link-flex-title();
      }
    }
  }
}