#dm6-main-body
{
    padding:0em !important;
    #dm6-review-cover
    {
        height:40em;
        background-position:center;
        background-size:cover;
        position:relative;
        #content
        {
            background-color:rgba(0,0,0,0.2);
            position:absolute;
            height:inherit;
            #title
            {
                h1
                {
                    color:#fff;
                    text-transform:uppercase;
                    font-family: 'Roboto Slab', serif;
                }
            }
        }
        #authors
        {
            position:absolute;
            top:1em;
            right:1em;
            ul
            {
                .dm6-author-desktop
                {
                    background-color:rgba(0,0,0,0.2);
                    display:block;
                    width:15em;
                    span
                    {
                        color:white;
                    }
                    a:hover
                    {
                        text-decoration:none;
                    }
                }
                
                .dm6-author-mobile
                {
                    display:block;
                }
            }
        }
        #ratings
        {
            position:absolute;
            bottom:1em;
            right:1em;
            ul
            {
                li
                {
                    display:inline-block;
                    font-size:2em;
                    color:#FFC107;
                }
            }
        }
    }
    #dm6-review-body
    {
        padding-bottom:30em;
        font-family: Roboto, sans-serif;
    }
}

@media all and (max-width:485px)
{
    #dm6-review-body
    {
        padding:0em 0.5em;
        padding-bottom:70em !important;
    }
}

@media all and (min-width:768px) and (max-width:960px)
{
    #dm6-review-body
    {
        padding-bottom:30em !important;
    }
    
    #dm6-main-footer
    {
        min-height:32em !important;
    }
}

@media all and (max-width:960px)
{
    #dm6-review-body
    {
       padding-bottom:75em !important;
    }
}