html
{
    background-color:#fff;
    body
    {
        background-color:inherit;
        #dm6-main-body
        {
            #dm6-single-header
            {
                .dm6-category
                {
                    span
                    {
                        background-color:#AB1F2B;
                        text-transform:uppercase;
                        color:#fff;
                        padding:0.2em 0.4em;
                        margin: 0.5em;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.2em;
                    }
                }
                .dm6-category:hover
                {
                    span
                    {
                        background-color:#000;
                        text-decoration:none;
						
                    }
                }
                .dm6-meta
                {
                    .dm6-authors 
                    {
                        ul
                        {
                            li
                            {
                                span
                                {
                                    
                                    .uk-icon-twitter
                                    {
                                        color:#55ACEE;
                                    }
                                    .uk-icon-envelope
                                    {
                                        color:#000;
                                    }
                                    .uk-link-muted
                                    {
                                        text-transform:capitalize;
                                    }
                                    a
                                    {
                                        color:#AB1F2B;
                                    }
                                    a:hover
                                    {
                                        color:#000;
                                    }
                                }
                            }
                        }
                    }
                    .dm6-share
                    {
                        .share-button 
                        {
                            label
                            {
                                background-color:#ab1f2b;
                                color:#fff;
                                border-radius:0em;
                                span
                                {
                                        font-family:Roboto, sans-serif;
                                }
                            }
                            .social 
                            {
                                ul li
                                {
                                    font-weight:200;
                                }
                                margin-left:-211px;
                            }
                        }
                    }
                }
                
                
                p
                {
                    color:lighten(#000,60%);
                }
                h1
                {
                  text-transform:uppercase;
                  font-size:3.5em;
                  font-family: 'Roboto Slab', serif;
                }
                a:hover
                {
                    text-decoration:none;
                }
            }
            #dm6-single-body
            {
              font-size: 1em;
              line-height: 1.563em;
              p, a
              {
                  em
                  {
                      	color: inherit;
	                    font-weight: 100 !important;
                    	font-family: serif;
                  }
                font-weight: 400;
                font-size: 400;
                font-family: 'Roboto', sans-serif;
              }
				
// FOR REVISION: CAPTIONS

			.wp-caption
			{
				width: 100% !important;
			}

			.wp-caption-text
			{
				font: 90% "Roboto", sans-serif !important;
				background: #ab1f2b;
				margin: 0px;
				color: #FAFAFA;
				padding: 5px;
				
				a
				{
					text-decoration: underline;
				}
			}	
				
            }
        }
    }
}


@media (max-width: 1023px) {
  #dm6-single-body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 1.143em;
    line-height: 1.786em;
  }

  #dm6-main-body
  {
    padding:0em 1em;
  }

}

@media (max-width: 479px) {
  #dm6-single-body {
	font-family: "Roboto Slab", serif;
	font-weight: normal;
	font-size: 1.286em;
	line-height: 1.857em;

  }

  #dm6-main-body
  {
    padding:0em 1em;
  }

  #dm6-single-header
  {
    .dm6-category
    {
      font-size:medium !important;
    }
    h1
    {
      font-size: 2em !important;
      line-height: 1.1em;
    }
  }
}