#dm6-main-body
{
    #dm6-video-container
    {
        background-color:#fff;
        padding:1em;
        header
        {
            section
            {
                p
                {
                    font-family: 'Roboto Slab', serif;
                }
            }
        }
        #dm6-video-body
        {
            #dm6-video-excerpt
            {
                .share-button 
                {
                    label
                    {
                        background-color:#ab1f2b;
                        color:#fff;
                        border-radius:0em;
                        span
                        {
                            font-family: Roboto, sans-serif;
                        }
                    }
                    .social 
                    {
                        ul li
                        {
                            font-weight:200;
                        }
                        margin-left:-211px;
                    }
                }
            }
            
            #dm6-video-footer
            {
                #dm6-video-loop
                {
                    .video-loop
                    {
                        .video-thumbnail
                        {
                            height:15em;
                            background-position:center;
                            background-size:cover;
                            position:relative;
                            .content
                            {
                                height:inherit;
                                background-image: linear-gradient(to top, rgba(66, 66, 66,0.3) 15%,
                                                                  rgba(191, 191, 191,0.1) 100%);
                                background-color:rgba(0,0,0,0.1);
                                p
                                {
                                    font-family: 'Roboto', sans-serif;
                                    color:#AB1F2B;
                                    font-size:3em;
                                }    
                            }
                            .video-title
                            {
                                position:absolute;
                                bottom:0em;
                                left:1em;
                                color:#fff;
                                font-weight:700;
                                p
                                {
                                    font-family: 'Roboto', sans-serif;
                                }
                            }
                        }
                    }
                    
                    .video-loop-ad
                    {
                        .video-thumbnail
                        {
                            background-color:#CF463C;
                        }
                        .content
                        {
                            background-image:none !important;
                            p
                            {
                                color:#fff !important;
                                font-size:5em !important;
                            }
                        }
                    }
                }
                #dm6-comment-body
                {
                    #dm6-more-articles
                    {
                        .uk-panel-title
                        {
                            color:#AB1F2B;
                        }
                        .dm6-articles
                        {
                            .image
                            {
                                background-position:center;
                                background-size:cover;
                                height:12em;
                                position:relative;
                                .image-content
                                {
                                    height:inherit;
                                    background-image: linear-gradient(to top, rgba(66, 66, 66,0.3) 15%,
                                                                  rgba(191, 191, 191,0.1) 100%);
                                    background-color:rgba(0,0,0,0.1);
                                    h3
                                    {
                                        color:#fff;
                                        padding-left:0.5em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}