html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F4F6F8;
  flex-wrap: wrap;
}
html .videoWrapper,
body .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
html .videoWrapper iframe,
body .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.9%;
}
html #dm-header-container .dm6-main-header,
body #dm-header-container .dm6-main-header {
  background: #AB1F2B;
}
html #dm-header-container #dm6-main-header,
body #dm-header-container #dm6-main-header {
  height: 5em;
  background: #ab1f2b;
  z-index: 10000;
}
html #dm-header-container #dm6-main-header .uk-container,
body #dm-header-container #dm6-main-header .uk-container {
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
html #dm-header-container #dm6-main-header .uk-container .brand > a,
body #dm-header-container #dm6-main-header .uk-container .brand > a {
  margin-right: 3em;
}
html #dm-header-container #dm6-main-header .uk-container .brand > a img,
body #dm-header-container #dm6-main-header .uk-container .brand > a img {
  height: 40px;
}
html #dm-header-container #dm6-main-header .uk-container .menus .uk-dropdown,
body #dm-header-container #dm6-main-header .uk-container .menus .uk-dropdown {
  background: none repeat scroll 0% 0% #AB1F2B;
}
html #dm-header-container #dm6-main-header .uk-container .menus .uk-dropdown .uk-nav-dropdown a:hover,
body #dm-header-container #dm6-main-header .uk-container .menus .uk-dropdown .uk-nav-dropdown a:hover {
  color: black;
  background: #ab1f2b;
}
html #dm-header-container #dm6-main-header .uk-container .menus .uk-dropdown .uk-icon,
body #dm-header-container #dm6-main-header .uk-container .menus .uk-dropdown .uk-icon {
  color: white;
}
html #dm-header-container #dm6-main-header .uk-container .search,
body #dm-header-container #dm6-main-header .uk-container .search {
  margin-left: auto;
}
html #dm-header-container #dm6-main-header .uk-container .search a,
body #dm-header-container #dm6-main-header .uk-container .search a {
  color: #000;
}
html #dm-header-container #dm6-main-header .uk-modal,
body #dm-header-container #dm6-main-header .uk-modal {
  z-index: 10001;
}
html #dm-header-container #dm6-main-header-mobile,
body #dm-header-container #dm6-main-header-mobile {
  z-index: 10000;
}
html #dm-header-container #dm6-main-header-mobile nav,
body #dm-header-container #dm6-main-header-mobile nav {
  background: #AB1F2B;
}
html #dm-header-container #dm6-main-header-mobile nav .uk-navbar-nav li a,
body #dm-header-container #dm6-main-header-mobile nav .uk-navbar-nav li a {
  color: white;
  border-right: 1px solid #424242;
}
html #dm-header-container #dm6-main-header-mobile nav .uk-navbar-nav li a:hover,
body #dm-header-container #dm6-main-header-mobile nav .uk-navbar-nav li a:hover {
  background: #c12330;
}
html #dm-header-container #dm6-main-header-mobile nav .uk-navbar-flip .uk-navbar-brand img,
body #dm-header-container #dm6-main-header-mobile nav .uk-navbar-flip .uk-navbar-brand img {
  height: 1.5em;
}
html #dm-header-container #dm6-main-body,
body #dm-header-container #dm6-main-body {
  padding: 0.5em 0.5em 22em 0.5em;
  flex-grow: 1;
}
html #dm-header-container #dm6-main-body a[target=_blank]::after,
body #dm-header-container #dm6-main-body a[target=_blank]::after {
  font-family: FontAwesome;
  content: " \f08e";
}
#dm6-main-menu ul li a {
  color: white;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
#dm6-main-menu input {
  border: 1px solid white;
  background-color: #AB1F2B;
  color: white;
}
#dm6-main-menu input:focus {
  border: 1px solid black;
}
#dm6-main-menu i {
  color: black;
}
#dm6-main-footer {
  align-self: flex-end;
}
#dm6-main-footer .uk-grid {
  height: inherit;
}
#dm6-main-footer .uk-grid #dm6-footer-red {
  height: inherit;
  background-color: #AB1F2B;
  padding: 0.5em;
}
#dm6-main-footer .uk-grid #dm6-footer-red ul li {
  list-style-type: none;
  line-height: 1.5em;
}
#dm6-main-footer .uk-grid #dm6-footer-red ul li a {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#dm6-main-footer .uk-grid #dm6-footer-red ul li a:hover {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
#dm6-main-footer .uk-grid #dm6-footer-black {
  height: inherit;
  background-color: black;
  padding: 0.5em;
}
#dm6-main-footer .uk-grid #dm6-footer-black ul li:first-child {
  margin-bottom: 0.5em;
}
#dm6-main-footer .uk-grid #dm6-footer-black ul li {
  list-style-type: none;
}
#dm6-main-footer .uk-grid #dm6-footer-black ul li h2 {
  color: white;
}
#dm6-main-footer .uk-grid #dm6-footer-black ul li a {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 300;
}
#dm6-main-footer .uk-grid #dm6-footer-black ul li a:hover {
  font-weight: 700;
  color: #AB1F2B;
  text-decoration: none;
}
#dm6-main-footer .uk-grid #dm6-footer-black #dm6-copyright {
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
}
#dm6-main-footer .uk-grid #dm6-footer-black #dm6-copyright ul li {
  list-style-type: none;
  padding: 0.5em;
  font-weight: 300;
}
#dm6-single-body .aligncenter,
#dm6-review-body .aligncenter,
#dm6-video-excerpt .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#dm6-single-body .alignleft,
#dm6-review-body .alignleft,
#dm6-video-excerpt .alignleft {
  float: left;
  padding: 0.5em;
}
#dm6-single-body .alignright,
#dm6-review-body .alignright,
#dm6-video-excerpt .alignright {
  float: right;
  padding: 0.5em;
}
#dm6-single-body embed,
#dm6-single-body iframe,
#dm6-single-body .tweet,
#dm6-single-body .twitter-tweet,
#dm6-single-body .twitter-tweet-rendered,
#dm6-single-body #twitter-widget-0,
#dm6-single-body .fb_iframe_widget,
#dm6-single-body #___post_0,
#dm6-review-body embed,
#dm6-review-body iframe,
#dm6-review-body .tweet,
#dm6-review-body .twitter-tweet,
#dm6-review-body .twitter-tweet-rendered,
#dm6-review-body #twitter-widget-0,
#dm6-review-body .fb_iframe_widget,
#dm6-review-body #___post_0,
#dm6-video-excerpt embed,
#dm6-video-excerpt iframe,
#dm6-video-excerpt .tweet,
#dm6-video-excerpt .twitter-tweet,
#dm6-video-excerpt .twitter-tweet-rendered,
#dm6-video-excerpt #twitter-widget-0,
#dm6-video-excerpt .fb_iframe_widget,
#dm6-video-excerpt #___post_0 {
  margin: 10px auto !important;
  display: block;
  text-align: center;
}
#dm6-single-body blockquote,
#dm6-review-body blockquote,
#dm6-video-excerpt blockquote {
  background: #ab1f2b url(../img/quote.svg) no-repeat;
  background-size: 100px 100px;
  color: white;
  min-height: 5em;
  border: 0;
}
#dm6-single-body blockquote p,
#dm6-review-body blockquote p,
#dm6-video-excerpt blockquote p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  padding: .5em;
  font-size: 1em;
  line-height: 1.563em;
}
#dm6-single-body blockquote a,
#dm6-review-body blockquote a,
#dm6-video-excerpt blockquote a {
  font-family: Roboto, sans-serif;
  text-decoration: underline;
}
#dm6-single-body blockquote a[target=_blank]::after,
#dm6-review-body blockquote a[target=_blank]::after,
#dm6-video-excerpt blockquote a[target=_blank]::after {
  font-family: FontAwesome;
  content: " \f08e";
}
#dm6-single-body .dm6-authors ul li span .uk-icon-twitter,
#dm6-review-body .dm6-authors ul li span .uk-icon-twitter,
#dm6-video-excerpt .dm6-authors ul li span .uk-icon-twitter {
  color: #55ACEE;
}
#dm6-single-body .dm6-authors ul li span .uk-icon-envelope,
#dm6-review-body .dm6-authors ul li span .uk-icon-envelope,
#dm6-video-excerpt .dm6-authors ul li span .uk-icon-envelope {
  color: #000;
}
#dm6-single-body .dm6-authors ul li span .uk-link-muted,
#dm6-review-body .dm6-authors ul li span .uk-link-muted,
#dm6-video-excerpt .dm6-authors ul li span .uk-link-muted {
  text-transform: capitalize;
}
#dm6-single-body .dm6-authors ul li span a,
#dm6-review-body .dm6-authors ul li span a,
#dm6-video-excerpt .dm6-authors ul li span a {
  color: #AB1F2B;
}
#dm6-single-body .dm6-authors ul li span a:hover,
#dm6-review-body .dm6-authors ul li span a:hover,
#dm6-video-excerpt .dm6-authors ul li span a:hover {
  color: #000;
}
#dm6-single-body .share-button label,
#dm6-review-body .share-button label,
#dm6-video-excerpt .share-button label {
  background-color: #ab1f2b;
  color: #fff;
  border-radius: 0em;
}
#dm6-single-body .share-button label span,
#dm6-review-body .share-button label span,
#dm6-video-excerpt .share-button label span {
  font-family: Roboto, sans-serif;
}
#dm6-single-body .share-button .social,
#dm6-review-body .share-button .social,
#dm6-video-excerpt .share-button .social {
  margin-left: -211px;
}
#dm6-single-body .share-button .social ul li,
#dm6-review-body .share-button .social ul li,
#dm6-video-excerpt .share-button .social ul li {
  font-weight: 200;
}
#dm6-single-body .wp-caption,
#dm6-review-body .wp-caption,
#dm6-video-excerpt .wp-caption {
  background-color: #f3f3f3;
}
#dm6-single-body .wp-caption p,
#dm6-review-body .wp-caption p,
#dm6-video-excerpt .wp-caption p {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
p,
a {
  font-family: 'Roboto Slab', serif;
}
ul,
li {
  font-family: 'Roboto', sans-serif;
}
.sponsor-tile {
  background-color: #F44336;
}
.uk-modal {
  z-index: 10001;
}
.ad-flat {
  height: 10em;
}
ins {
  background: none !important;
}
.uk-alert-success {
  background-color: #4CAF50;
  color: #fff;
}
.uk-alert-warning {
  background-color: #FFC107;
  color: #000;
}
.uk-alert-danger {
  background-color: #F44336;
  color: #fff;
}

