@media print
{
    @page
	{
		size: 8.5in 10.5in;
		margin: 2em;
	}
	
	body 
	{
		margin: 0;
		padding:0;
		line-height: 1.4em;
		word-spacing:1px;
		letter-spacing:0.2px;
		font: 13px Roboto, sans-serif;
		color: #000;
		text-align: justify;
	}
	
	#dm6-main-body::after, #dm6-review-body::before
	{
		content: "This article is printed from Deremoe.com. Deremoe is a culture blog that aims to be a destination for features and opinions from the Anime and Cosplay communities in the Philippines.";
		display: block;
		text-align: center;
		border: 1px solid;
		padding: 10px;
		margin: 10px;
		page-break-before: avoid;
	}

	/* Links */
	a:link, a:visited 
	{
		background: transparent;
		color:#333; text-decoration:none;
	}
	
	a:link[href^="http://"]:after, a[href^="http://"]:visited:after 
	{
		content: " (" attr(href) ") ";
		font-size: 11px;
	}
	
	a[href^="http://"] 
	{
		color:#000;
	} 

	img, img a
	{
		border:none;
		
	}

	#dm6-main-header, #dm6-main-header-mobile, #dm6-main-footer, .dm6-comments, .dm6-cta, .dm6-share, .dm6-category, .share-button, #dm6-review-cover, #uk-offcanvas, #respond, hr
	{
		display:none !important;
		height: 0;
		width: 0;
	}
}